// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bookers3 {
  text-align: center;
}

.main_title{
  margin: revert;
  color: orangered;
  display: inline-block;
  text-align: left;
}