.header {
  height: 500px;
}
#p-scroll {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#p-scroll a {
  text-align: center;
  text-decoration: none;
  background: #99FFFF;
  color: #fff;
  padding: 30px;
}
#p-scroll a:hover {
  background: #33FFFF;
}